<nav class="top-nav">
<ul>
  <li><%= link_to "首頁", root_path%></li>
  <% if user_signed_in? %>
    <li>hi, <%= current_user.email%></li>
    <% unless current_cart.empty? %>
      <li>購物車<%= link_to "購物車(#{current_cart.items.count})",cart_path%></li>

      <li><%= current_cart.total_price %></li>
      <li><%= link_to "清空", cart_path, method: 'delete' %></li>
    <%end%>
    <li><%= link_to  "新增候選人",  new_candidate_path %></li>
    <li><%= link_to "我的投票紀錄", history_path if current_user.role == 'admin'%></li>
    <li><%=link_to "登出", destroy_user_session_path, method:'delete'%></li>
  <% else %>
  <li><%= link_to "登入", user_session_path %></li>
  <li><%= link_to "註冊", new_user_registration_path%></li>
  <% end %>
</ul>
</nav>