<h1>候選人列表</h1>

<%= link_to  "新增候選人",  new_candidate_path %>



<div class="candidates_wrap">

<% @candidates.each do |candidate| %>
    <div class="candidate">
        <div class="candidate_pic"> 
            <img src="https://picsum.photos/300/300/?random=1">
        </div>
        <div class="candidate_info">
            <h2>得票數：<%= candidate.vote %></h2>
            <h1><%= candidate.name%> (<%= candidate.age %>)</h1>
            <h2><%= candidate.party%></h2>
            <%= link_to "看政見", candidate, class:'more_detail'%>
            <%= link_to  "修改",  edit_candidate_path(candidate) %> 
            <%= link_to  "投票",  vote_candidate_path(candidate), method:'patch', data: { confirm: '確認投票？'} %>
            <%= link_to  "刪除",  candidate, method: 'delete', data: { confirm: '確認刪除？'}%>
        </div>
    </div>
<% end %>
  

</div>